<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>KiyanJa.org </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/default/img/favicon.png" rel="icon">
  <link href="assets/default/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/default/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/default/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/default/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/default/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/default/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

   <!-- Template Main CSS File -->
  <link href="assets/default/css/style.css" rel="stylesheet">

   <!-- Template Main CSS File -->
  <link href="assets/default/css/login-style.css" rel="stylesheet">

 
  
 

  <!-- =======================================================
  * Template Name: BizPage - v5.8.0
  * Template URL: https://bootstrapmade.com/bizpage-bootstrap-business-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">
        <div class="col-xl-11 d-flex align-items-center justify-content-between">
          <h1 class="logo"><a href="/">KiyanJa</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/default/img/logo.png" alt="" class="img-fluid"></a>-->

         {{> 'default/topnavigation'}}
        </div>
      </div>

    </div>
  </header><!-- End Header -->
   



  <main id="main">


    <!-- ======= Posts Section ======= -->


    <!-- ======= Users Section ======= -->

     <!-- ===== Login =========  -->
 <section id="contact" class="section-bg">
 <div class="container" data-aos="fade-up">

  <div class="section-header">
      <h3>Register</h3>
        <p>Please Signup, to create your user account  </p>
  </div>

  <div class="card card-login mx-auto my-5">
    <div class="card-header">Register</div>

    <div class="card-body">
        <form action="/register" method="post">
            <div class="form-row">
                <div class="col-md-6">
                    <label for="exampleInputName">first name</label>
                    <input name="firstName" class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeHolder="Enter first name" required>
                </div>
                <div class="col-md-6">
                    <label for="exampleInputName">last name</label>
                    <input name="lastName" class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeHolder="Enter last name" required>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input name="email" class="form-control" id="exampleInputEmail1" type="email" aria-describedby="emailHelp" placeholder="Enter email">
            </div>
            <div class="form-group">
               
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <label for="exampleInputPassword1"> Password</label>
                    <input name="password" class="form-control" id="exampleConfirmPassword1" type="password" placeholder="Password" required>
                </div>
                <div class="col-md-6">
                     <label for="exampleConfirmPassword1"> Confirm Password</label>
                     <input name="password" class="form-control" id="exampleInputPassword1" type="password" placeholder="Confirm Password" required>
                </div>
            </div>
        
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
        <div class="text-center">
            <a class="d-block small mt-3" href="/login">Login</a>
           
            <a class="d-block small" href="/">Home Page?</a>
        </div>
    </div>
  </div>
 </div>
 </section>
  <!-- End of registratio -->
   
  </main><!-- End #main -->

 
  

  <!-- ======= Footer ======= -->

 {{> 'default/footer'}}



  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Uncomment below i you want to use a preloader -->
  <!-- <div id="preloader"></div> -->

  <!-- Vendor JS Files -->
  <script src="assets/default/vendor/purecounter/purecounter.js"></script>
  <script src="assets/default/vendor/aos/aos.js"></script>
  <script src="assets/default/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/default/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/default/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/default/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/default/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/default/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/default/js/main.js"></script>

</body>

</html>