 <head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
 
 <!-- Favicons -->
  <link href="assets/default/img/favicon.png" rel="icon">
  <link href="assets/default/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Vendor CSS Files -->
  <link href="assets/default/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/default/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/default/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/default/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/default/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/default/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

 <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Montserrat:300,400,500,700" rel="stylesheet">

  <link href="assets/admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="assets/admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Page level plugin CSS-->
  <link href="assets/admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    
<!-- Custom styles for this template-->
  <link href="assets/admin/css/sb-admin.css" rel="stylesheet">

 

</head>